/* Tailwind CSS styles */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Custom styles */
* {
    box-sizing: border-box;
    color: black;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
    border-color: aquamarine;

}
li {
    color: white;
}